html
{ 

  font-family: Open Sans, sans-serif;
  color:blue ;
  background-color : orange;
}

img{
display:block;
margin: 0 auto; 	

}


h1 {
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  text-align :center ;
}